{% extends 'jobs/base.html' %}
{% block content %}
             {% for job in jobs.all %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{ job.image.url }}"/>
                        <div class="card-body">
                            <p class="card-text">{{ job.summary }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">{% now 'jS \o\f F Y' %}</small>
                            </div>
                        </div>
                    </div>
                </div>
             {% endfor %}
{%endblock%}



